[2014-04-16 01:42] droidmonkey opened #1 "Add GNU license to source code"
Need to add the standard GNU GPL v3 header to all applicable source files.

[2014-04-16 01:45] droidmonkey opened #3 "Re-add intro video"
Currently the intro video is disabled due to the new interface to the movie API in SDK 2013.

[2014-07-14 02:09] droidmonkey opened #5 "Blood Screen still shows in Spectator if disabled otherwise"
Self explainatory

[2014-07-14 02:12] droidmonkey opened #6 "Merge latest Valve master branch into GES"
This will take some leg work since they changed hundreds of files in one commit....

[2014-07-23 02:16] droidmonkey opened #7 "Round report displays previous match's gamemode"
Whenever the gamemode changes, the round result scoreboard of the first round (OHMSS After Action Report) displays the previous gamemode that is no longer being played. This occurs when the gamemode changes when the map time limit is reached and also when the gamemode is changed by voting in the middle of a round.

For example, yesterday I was playing on the 1138 clan server. The gamemode was firs

[2014-07-23 02:18] droidmonkey opened #8 "Round Report incorrectly displays team version on occasion"
Sometimes after a non-team round the ending score board will show everybody's team as "Unassigned" (which looks bad and unintentional, usually when teams aren't enabled this column is omitted, am I right?). I suspect that this is observed, when before map change teams are enabled but after map change it is no longer a team game. But the report will show team information when it is not relevant. Ag

[2014-08-04 20:11] son-link opened #9 "Can't make on GNU/Linux"
Hy, firts sorry for my english.
I tray to compile the game in GNU/Linux but make show this error:
[code]
My sistem is:
S.O.: Archlinux x86_64
GCC: 4.9.1
make: 4.0

[2014-08-05 00:36] droidmonkey commented on #9
My initial thought is that you don't have the proper libraries installed on your system. Please ensure you have the 32-bit versions of the libc libraries.

[2014-08-05 11:31] son-link commented on #9
I hace the multilib versions (32 and 64 bits libs) for GCC, libc and lib32 for another libs, and now installing lib32-python 2.7, and download the last version of Boost and replace the folder include in the proyect, just to tray.

[2014-08-05 21:20] son-link commented on #9
Still not working, show the same message.
Wath libs is necesary for compile the game?

[2014-08-05 22:42] droidmonkey commented on #9
You can find all the libs we require in our vpc files. It is likely something you are missing that Python depends on, however, since you are getting linker errors when you are bringing in Python.
1. We use Python 2.6
2. Try this: http://www.gossamer-threads.com/lists/python/python/66671#66671

[2014-08-07 21:36] son-link commented on #9
I compiled Python 2.7 for 32 and replace the route in server_linux32_ges.mak, but now show a big lines of errors (y redictecrt error exit to a log fila and his sice is 1.2mb)
These is the last lines

[code]

I download Boosts and compile for 32 bits too and change the same file, but show the same error.

[2014-08-10 17:39] droidmonkey commented on #9
1) We use Python 2.6
2) Boost should be auto compiled with the mod, there is no reason to compile that separately.
3) I'd recommend you install a virtual machine with Linux Mint 17 on it and try to compile from there because my build chain works fine.
4) You might also want to try downgrading your gcc version to 4.8.x

[2014-08-17 23:34] droidmonkey opened #10 "Add nominal floor height to a GES point entity"
There needs to be a consolidated point entity for GES for maps. In this entity it should at least contain a value for the nominal floor height (which is assumed to be 192 units) for the radar to properly determine above/below.

[2014-08-18 00:03] droidmonkey opened #11 "Grenade Launcher rounds do not bounce"
This is especially prevalent when the incident angle is less than 20 degrees. Recommend going back to a simple collision model versus the physics based model.

[2014-08-18 00:12] droidmonkey opened #12 "Cougar Magnum does not autoswitch from DD44"
Title says it all. DD44 is more preferred than Cougar Magnum even though PP7 is not.

[2014-09-08 02:41] droidmonkey commented on #9
I've fixed all building issues. Try checking out the new Python 3 branch and running './runmake.sh'

https://github.com/goldeneye-source/ges-code/tree/dev/python3

As a general note, you must have the Steam Runtime SDK installed in the same base directory as the GES Code (i.e: ~/Projects/ges-code/  and  ~/Projects/steam-runtime-sdk/)

I am going to fix that up a little in the next commit to allow

[2014-09-08 13:50] son-link commented on #9
Ok, i followed the steps and return this error:

[code]

[2014-09-09 23:11] droidmonkey commented on #9
Oops! I forgot to commit a necessary library.

Do a pull, then delete the 'thirdparty/python3/ges_build' folder and run ./runmake.sh again.

[2014-09-10 12:29] son-link commented on #9
[code]

[2014-09-11 03:09] droidmonkey commented on #9
delete that baseachievement.o file and run the make again. Something didn't build correctly.

[2014-09-11 13:11] son-link commented on #9
Build complete :D
But ¿howe to install the mod? i copy the bin and lib folder to steamApps/sourcemod/ges but not show in Steam games list

[2014-09-12 01:36] droidmonkey commented on #9
You need to download the full mod from www.geshl2.com

The build script automatically copies the needed files to your gesource mod path. You need to define the GES_PATH env variable first, though.

Do note, the Linux build is still highly wip and there are some serious bugs that Valve needs to address before it will work. You can also try running the "./runges.sh" script once you download the whol

[2014-09-15 14:36] son-link commented on #9
I copy all to the sourcemods folder (in my case in /media/1tb/Steam/SteamApps/sourcemods ) and copy runges.sh and modify, but not run:

[code]

I download Source SDK 2013 Singlepayer and the last relese i compiled 32 in my 64 bits sistem withaout no problem

[2014-09-17 11:26] droidmonkey commented on #9
I am going to push some fixes to the scripts this evening.

ALL DONE!

You should define both GES_PATH and STEAM_RUNTIME_ROOT environment variables. Preferably in your .bashrc file

[2015-02-04 19:53] ArashPartow opened #13 "Unnecessary quadratic complexity in loop"
The length of the string should be cached then used in the loop rather than calling Q_strlen on each iteration.

https://github.com/goldeneye-source/ges-code/blob/develop/game/shared/ges/ge_utils.cpp#L645

[2015-02-15 04:48] droidmonkey commented on #13
This may be compiled out anyway, not sure though. Good catch!

[2015-02-17 20:58] #9 closed

[2015-02-17 20:58] #6 closed

[2015-03-03 09:22] ccsaint10 opened #14 "Crash in RC - 3/3/15 - build 237 w/ .dmp"
Walking around in noclip in a map not doing anything out the normal and crashed. Here is the memory dump.

![crash_hl2 exe_20150303021748_1](https://cloud.githubusercontent.com/assets/6565925/6459469/19617846-c14c-11e4-958c-a342db9de868.jpg)

[2015-03-03 09:25] ccsaint10 commented on #14
I had to change the extension of the file to .jpg since it wouldn't accept a zip file of the .dmp or the file itself. Are you able to change the extension back from the file above and recover the crash file or does it mess up the whole dump?

[2015-03-10 12:58] #13 closed

[2015-05-07 21:17] vincent-t opened #15 "Engine Error: Could not load library client..."
I built ges successfully on linux but after launch I get this error:
![bildschirmfoto_2015-05-07_20-02-53](https://cloud.githubusercontent.com/assets/959709/7526071/07729376-f50f-11e4-959d-a700a5d879a9.png)
I hope somebody can help me.

[2015-05-07 23:45] jonathonracz commented on #15
Go to the properties page for Source SDK Base 2013 Multiplayer, and under the "betas" tab opt-in for the "- upcoming" beta. Let me know if that doesn't fix it.

[2015-05-08 07:08] 0xBADEAFFE commented on #15
@jonathonracz I switched to the upcoming beta branch but the error is still there.
Here is the gdb output:

[code]

[2015-05-08 11:43] droidmonkey commented on #15
Make sure you are running the game using: https://github.com/goldeneye-source/ges-code/blob/develop/runges.sh

You have to define a GES_PATH environment variable that points to your sourcemods/gesource folder and a STEAMAPPS_PATH that points to the steamapps folder. Unfortunately Linux mods with external libraries are still borked because Valve doesn't map the bin directory in the moddir to load s

[2015-05-08 13:51] 0xBADEAFFE commented on #15
I'm using runges.sh and definded both variables, the error is still present.

[2015-05-09 16:11] droidmonkey commented on #15
Could be a permission issue, check to see which user owns the client.so and other libs that were deployed in the bin directory.

[2015-05-10 21:34] droidmonkey commented on #15
I haven't built on Linux since I moved over to Fedora... unfortunately Valve prefers Debian distributions. I'll try to rebuild and deploy on my end to see if I experience the issue.

[2015-05-10 22:28] 0xBADEAFFE commented on #15
@droidmonkey Ok thanks! Maybe it's helpfull for you to reproduce my build procedure.
I have modiefied some files to get everything compiled with 32 bit steamruntime on a 64 bit os:
IMPORTANT: define STEAM_RUNTIME_ROOT
ges-code-develop/runmake.sh

[code]

ges-code-develop/clean.sh

[code]

ges-code-develop/thirdparty/python3/build_python3.sh

[code]

Also important: replace in steam runtime sdk .sh

[2015-05-12 00:20] 0xBADEAFFE commented on #15
@droidmonkey Now it starts without the error message (libfmodexL.so, libfmodex.so libs were missing). But now it crashes with following error:

[code]

[2015-05-12 02:03] droidmonkey commented on #15
You need to checkout the python3 branch of the ges-python repo: https://github.com/goldeneye-source/ges-python/tree/python3

Check this out into _gesource/python_ folder, we no longer put python under scripts.

Sorry, this should be documented somewhere.

[2015-05-12 02:24] droidmonkey opened #16 "Document requirements to build and deploy GES"
Missing python requirements and fmod so's

[2015-05-12 20:25] 0xBADEAFFE commented on #15
Thanks, its now running! :+1: It should be also mentiont that you need the two fmodex libs.

[2015-05-13 18:27] 0xBADEAFFE commented on #15
There seems to be a problem with python when adding bots to the server:

[code]

[2015-05-14 22:07] droidmonkey commented on #15
This indicates that your build of the python library so is not correct. You are missing critical built-in modules (md5, etc in this case). I am not sure why that is happening, but I do know that building python can be rather tenuous because it does not use a modern compiler approach (ala CMake).

[2015-05-19 17:59] 0xBADEAFFE commented on #15
I've managed to get it working. First you need to symlink some .h files to steamruntime and after successfull compiling you need to copy the content of`/ges-code-develop/thirdparty/python3/ges_build/build/lib.linux-x86_64-3.4/` to `/steamapps/sourcemods/gesource/python/lib`.

[2015-05-20 06:40] daurnimator opened #17 "Python build fails"
.`/build_python3.sh` fails with:

[code]

[2015-05-24 12:50] droidmonkey commented on #17
There is an issue with the build process that doesn't seem to include basic modules. Looking into it now.

[2015-06-26 17:38] 0xBADEAFFE commented on #17
Maybe you should consider to use cmake as buildsystem for ges (https://github.com/davidsansome/python-cmake-buildsystem) which makes compiling x86 python on an x64 os easier.

[2016-02-21 07:38] AgentAgrimar opened #19 "Building on Linux [skipping incompatible ../../lib/ges/linux32/libpython3.so ]"
**This is probably a bad place to ask this, but seeing as people are successfully doing it.**

As the above title is sort of saying, how do you build on Linux?

 I've been using Ubuntu 15.10, and i've been trying day in-day out to compile any SSDK13 mod (Including one of my own) to compile for Linux, I've tried following tutorials on the Valve Developer sites, and I could never seem to get it to w

[2016-02-21 08:29] AgentAgrimar commented on #19
I have fixed the above issue, **making one last Google helped**

but now i have things like

**src/tier1/checksum_sha1.cpp:195:29: warning: ignoring return value of ‘size_t fread(void_, size_t, size_t, FILE_)’, declared with attribute warn_unused_result [-Wunused-result]
   fread(uData, 1, MAX_FILE_READ_BUFFER, fIn);**

**src/mathlib/sse.cpp:822:3: warning: #warning "_SSE2_SinCos NOT implemented!"

[2016-02-21 14:51] droidmonkey commented on #19
The first two items are warnings, the error, however, is new to me.

[2016-02-21 21:36] AgentAgrimar commented on #19
Ah, I didn't realize _VPC_ puts out project files for Linux, so I got CodeLite, and vuala!

Compiling hasn't finished at the moment, so i'm not sure if it will error out.

I guess you can mark this as **Closed** for now...

[2016-02-21 23:13] AgentAgrimar commented on #19
And now I get this on _**Server**_

**make: **\* No rule to make target '../../lib/ges/linux32/libpython3.so', needed by 'obj_server_ges_linux32/release/server.so'.  Stop.**

even though it's there and compiled.

[2016-02-22 00:45] AgentAgrimar commented on #19
I'm so close! But now I get this...

---- LINKING obj_server_ges_linux32/release/server.so [release] ----
/valve/steam-runtime/amd64/i686-unknown-linux-gnu/bin/../lib/gcc/i686-unknown-linux-gnu/4.6.3/../../../../i686-unknown-linux-gnu/bin/ld: skipping incompatible ../../lib/ges/linux32/libpython3.so when searching for -lpython3
/valve/steam-runtime/amd64/i686-unknown-linux-gnu/bin/../lib/gcc/i686-

[2016-02-24 21:37] vincent-t opened #20 "[Suggestion] bring goldeneye source to steam"
@droidmonkey Why not adding ges to steam greenlight, as soon as the source sdk 2013 port is ready? This would also revive the mod.

[2016-02-24 21:51] droidmonkey commented on #19
Have you been using the "runmake.sh" script?

[2016-02-24 21:52] droidmonkey commented on #20
There are various legal (copyright) and logisitical hurdles for us to ever consider this. As it stands we are not continuing the port to SDK2013 at this time.

[2016-02-24 21:52] #20 closed

[2016-02-24 22:00] 0xBADEAFFE commented on #20
@droidmonkey Thank you for your quick reply. I think this is sad because ges is a great mod. What legal problems are you exactly facing when releasing it as free mod on steam?

[2016-02-25 03:23] AgentAgrimar commented on #19
Both produce the same output.

@droidmonkey

[2016-02-26 01:48] droidmonkey commented on #19
I think the Python library got built as 32 bit when the rest of the mod was built as 64 bit. Notice that the amd64 steam runtime is being used. It should be the 32 bit steam runtime.

[2016-03-02 03:21] AgentAgrimar commented on #19
Any idea how I would tell it to build the mod in 32-bit?

@droidmonkey

[2016-03-09 02:42] AgentAgrimar commented on #19
Where would I go to force it 32-bit?

@droidmonkey

[2016-03-15 02:13] droidmonkey commented on #19
You do that when you establish the steam runtime, you setup the runtime to point to the 32-bit libraries.

[2016-03-31 17:42] ardmn commented on #19
@AgentAgrimar Can you explain how did you  fix  it , please ?

[2016-04-03 13:50] droidmonkey commented on #19
Go to your steam runtime SDK in a terminal window and type: ./setup.sh --target=i386

Then make sure you have an ENV variable setup: STEAM_RUNTIME_TARGET_ARCH=i386

Then go to ges-code directory and start the build: ./runmake.sh

You should clean out the python build before you do that.

[2016-05-28 12:11] tsumner opened #21 "CaptureArea zones collide with rockets"
A CaptureArea, e.g. the ones used in Uplink, collide with rockets. The rockets explode within and around  the areas (e.g. firing a rocket launcher within an area instantly kills you). Other projectiles, such as grenades, grenade launcher rounds and mines do not have this problem.

[2016-05-28 12:21] ThomasSumner commented on #21
[demo.zip](https://github.com/goldeneye-source/ges-code/files/287704/demo.zip)

[2016-06-15 07:24] ElectricPrism opened #22 "Question - does this even build on Debian / SteamOS Linux?"
I was wondering if anyone has tried lately it seems the repository has gone cold for some time.

Also what is the status, is it working or not working, or is this even the area that development is taking place or just a mirror?

[2016-10-15 00:47] ElectricPrism commented on #19
Has anyone been able to build this on Linux successfully yet? If we can get a working build we can throw up a AUR package -- ges-git and that I'm sure will attract some attention and dev eyes on the project.

[2016-10-15 06:30] samrocketman commented on #19
Why isn't "how to build" in the README?

[2016-10-15 15:08] droidmonkey commented on #19
The build process has moved to cmake.

[2016-10-16 02:02] samrocketman commented on #19
Is this in response to my question?  I think it would vastly improve support overhead if instructions on how to build would be in the README.

[2016-10-16 16:52] droidmonkey commented on #19
I am not disagreeing with you, but I wanted to clarify that this thread no longer applies as a solution. When I get a chance I'll write up a quick cmake process and pre-requisites in the readme.

[2016-10-22 02:09] ElectricPrism commented on #19
@droidmonkey - that would be awesome, I would love to try to build on Arch, second choice would be Debian (Which is SteamOS/Ubuntu, etc...)

[2016-10-22 14:35] droidmonkey commented on #19
I added instructions to the readme: https://github.com/goldeneye-source/ges-code#how-to-build

[2016-10-22 14:36] droidmonkey commented on #22
https://github.com/goldeneye-source/ges-code#how-to-build

[2016-10-22 14:36] #17 closed

[2016-10-22 14:36] droidmonkey commented on #17
Build system was transitioned to cmake.

[2016-10-22 14:36] #16 closed

[2016-10-22 14:37] droidmonkey commented on #15
This no longer applies with the new cmake build system that corrects all these issues.

[2016-10-22 14:37] #15 closed

[2016-10-22 14:37] #14 closed

[2016-10-22 14:37] droidmonkey commented on #11
Fixed in v5.0

[2016-10-22 14:37] #11 closed

[2016-10-22 14:38] droidmonkey commented on #12
Corrected in v5.0

[2016-10-22 14:38] #12 closed

[2016-10-22 14:39] droidmonkey commented on #21
Corrected in v5.0

[2016-10-22 14:39] #21 closed

[2016-10-23 02:47] ElectricPrism opened #23 "Help Building on Arch"
Here's what I do:

[code]

Here's the output:

[code]

What does this mean and how do I fix it?

[2016-10-23 02:50] ElectricPrism commented on #22
Thank you, I'll close this issue as it seems confirmed that it will build, I am now trying out the instructions.

I will update my progress on this thread here:
https://github.com/goldeneye-source/ges-code/issues/23

[2016-10-23 02:50] #22 closed

[2016-10-23 10:14] z33ky commented on #23
You need to `git clone --recursive`, or now that you've already cloned the repository just do `git submodule init --recursive`.

[2016-10-23 13:29] droidmonkey commented on #23
ah yes, oops forgot about init submodules, I'll fix the readme

[2016-10-23 13:34] droidmonkey commented on #23
I'll leave this open in case you have further difficulties

[2016-10-23 19:33] mdeguzis commented on #23
Trying to build this on Debian Jessie. Does this require gcc 5.0+? If so, can it be built with clang? When building I did get some initial errors about missing sys/cdefs.h, which was resolved installing libc6-dev:i386, for one.

So far, on a Debian system, these are needed:

[code]

So far, my build stops here (cmake completes, make output below):

http://sprunge.us/NKFF

[2016-10-23 22:01] mdeguzis commented on #23
For some reason, when make is issued, the Makefile generated by cmake tries to use `/usr/bin/cc`

[code]

The full build log is above.

[2016-10-23 22:16] mdeguzis commented on #23
Ok the build works it seems with clang (in my test, 3.8). I had to link /usr/bin/cc to /usr/bin/clang-3.8. I'm sure there is a clean way to update the /usr/bin/cc alternative, so that was just a test. gcc 4.9 must be too old it seems. Not sure why python 3.5 has to download each time. Maybe there is a check on 3.5+? My repository sources have 3.4 but it still downloads it.

[2016-10-24 00:20] ElectricPrism commented on #23
I tried again using the git --recursive option as suggested by @z33ky - thanks :)

**Dependencies**
`sudo pacman -S boost boost-libs cmake gcc-multilib`

**I try this**

[code]

**I get this**

[code]

[Full Log](https://github.com/goldeneye-source/ges-code/files/546736/ges-build-2016-10-23-17-16-electricprism.txt)

I'm running gcc (GCC) 6.2.1 20160830

[2016-10-24 05:42] ElectricPrism commented on #23
Progress update - I was able to pass the 100% compile mark before running into what looked like errors linking to 32-bit system libraries.

I removed boost-python and python from he ges-code/CMakeLists.txt file and commented out compiling the server as it had some error in ges-code/game/CMakeLists.txt line 79 to 113.

Here's what I did

[code]

Here was the last bit of output
**SNIP**

I was able

[2016-10-24 09:13] vincent-t commented on #23
I tried to build with steam runtime and got following errors:
[code]

[2016-10-24 09:21] ElectricPrism commented on #23
I've built it on Arch it requires Python 3.4, It won't build against Python 3.5, here's a tree of the layout of what's built

[ges-tree.txt](https://github.com/goldeneye-source/ges-code/files/547337/ges-tree.txt)

[2016-10-24 09:28] 0xBADEAFFE commented on #23
@ElectricPrism how did you force python-cmake to download and build python 3.4?

[2016-10-24 09:29] ElectricPrism commented on #23
Build Instructions

I use gcc-multilib, python34 [AUR], boost, boost-libs lib32-glibc, etc...

[code]

[CMakeLists-electricprism-2016-10-24-02-24.txt](https://github.com/goldeneye-source/ges-code/files/547345/CMakeLists-electricprism-2016-10-24-02-24.txt)

[CMakeLists-game-electricprism-2016-10-24-02-32.txt](https://github.com/goldeneye-source/ges-code/files/547365/CMakeLists-game-electricprism-20

[2016-10-24 09:35] ElectricPrism commented on #23
"how did you force python-cmake to download and build python 3.4?"

@vincent-t - I downloaded python 3.4 via my package manager - Yaourt aka:

`yaourt -S python34`

In my situation I have both Python 3.4 and 3.5 installed side by side.

[2016-10-24 09:40] ElectricPrism commented on #23
@vincent-t - The output of the build was confusing to me, or maybe its just getting late, the wife and I gotta sleep, gonna pick this back up tomorrow.

Here's what $PROJECT/build/game containd -- I have yet to figure out what to do with it
https://drive.google.com/open?id=0BzWyc39KQnJONU5RRjhnclROZVU

It's my understanding that the mod should install to ~/.local/share/Steam/steamapps/sourcemods/g

[2016-10-24 10:56] droidmonkey commented on #23
You guys are both putting in way too much effort on this.

First off, this MUST be built as 32-bit (which the CMAKE script does for you. Valve does not support 64-bit Linux as all of their platform libraries in the SDK-2013 are 32-bit.

Second,

[code]

Means you are missing critical libraries in order to build properly. You need to have libm dev and libutil dev installed on your system.

This bui

[2016-10-24 11:53] mdeguzis commented on #23
@droidmonkey, for the uninitiated with building Source SDK projects, some of us just didn't know that. I use pbuilder/mock, so I now made sure to use a 32 bit chroot and things are building great. The question still remains though, why is python always being downloaded? Does it need 3.5.2+ specifically, or is it compiled every time for consistency? I don't build locally for many good reasons.  I'l

[2016-10-24 13:37] droidmonkey commented on #23
Python is download prior to building for the first time because of consistency in the process. Before, we provided prebuilt Python that was not portable across build envs. If you maintain your build directory it SHOULD NOT download everytime you make.

The cmake scripts could use some more upfront prerequisite checking, but hey it's a strong start, gimme some cred for cleaning up Valve's atrocious

[2016-10-24 13:38] mdeguzis commented on #23
@droidmonkey , i'm sorry I came across that way, I IMMENSELY appreciate this! I play on maintaining an Arch AUR / Debian package once I work out the smaller details here.

Current build script with Debian Jessie (verbose make): http://sprunge.us/cUIT. If anyone is interested, by in progress Debian build files are [here](https://github.com/ProfessorKaos64/LibreGeek-Packaging/blob/brewmaster/ges/deb

[2016-10-24 15:19] droidmonkey commented on #23
Hah no worries. Travis would be good, but I hate that they are stuck on Ubuntu 14.04 and their builds are slower than mud...

Jenkins might be more appropriate to allow for local CI with reporting.

[2016-10-24 15:23] mdeguzis commented on #23
I am missing some libs yet. Upon checking the code, folks here should be aware that libm is for libmagic*. It could be that the undefined references are due to including too many packages, and libexpat/zlib was being picked up since I included it, but not defined in the linker. I'd imagine though that having those in your system for a local build would cause those issues on Debian derivatives thou

[2016-10-24 17:39] flibitijibibo opened #24 "LDAP dependency"
I noticed in the CMake files that the project links to OpenLDAP...

https://github.com/goldeneye-source/ges-code/blob/develop/game/CMakeLists.txt#L28

However, I removed this from the link list and the libs appear to compile without any trouble. To verify I also built with `-Wl,--no-undefined`, and it still linked successfully. Is there something I'm missing or can this be removed from the link li

[2016-10-24 19:14] ProfessorKaos64 commented on #23
**Debian progress tracker**:
Reproducible steps for Debian 8 32-bit chroot :

Updated 20161024 @ 14:14 UTC -0500
[code]

* [Build files](https://github.com/ProfessorKaos64/LibreGeek-Packaging/blob/brewmaster/ges)
* [Build log](http://sprunge.us/GAUY)
* [Generated Makefile](https://gist.github.com/ProfessorKaos64/d51f6effb5d668e52c4cc141eec2aaea)
* [build/cmake_install.cmake](https://gist.github.co

[2016-10-24 19:26] ProfessorKaos64 opened #25 "Building GE:S on Debian / SteamOS"
#23 was for Arch Linux, so I broke this out from the conversation. If this was not the right move, I can close this thread to avoid more noise. I can't determine if this is a linking order issue, or dependency issue at the moment. `../thirdparty/boost-python/libboost_python.a libsteam_api.so libtier0.so libvstdlib.so -Wl,-rpath,/build/ges-5.0+20161024git+bsos/build/python/lib:/build/ges-5.0+201610

[2016-10-24 19:42] droidmonkey commented on #24
Sweet, it was on there for Python support I guess it's no longer needed. Although been bit before due to needing crazy amount of dependencies to feed python.

[2016-10-24 20:14] mdeguzis commented on #25
Got it! So there is a conflict if you build with libs existing on the system, at least in my case. I can only surmise that the python boost libs in libboost-all-dev conflicted..

As for the resultant libraries for client and server, do I need to place them in `steamapps/sourcemods/gesource` per [the install instructions](http://wiki.geshl2.com/goldeneye/installation)?  Do I need to include files f

[2016-10-24 21:29] ElectricPrism commented on #25
Great job! I'm not sure if it helps but the Windows installation of steamapps/sourcemods/gesource looks like this $tree

[steam_apps-source-mods-windows.txt](https://github.com/goldeneye-source/ges-code/files/549060/steam_apps-source-mods-windows.txt)

In windows the app shows up upon rebooting the steam client in the games list

[2016-10-24 23:11] ElectricPrism commented on #23
git submodule init --recursive

This doesn't work

[code]

Instead this works

[code]

I'm determined to get as far as I can, if some of my choices seem noobish please forgive me as I'm new at this.

I'm writing a PKGBUILD right now for [AUR] to see if I can get it to autocompile - I'll post it if I get it into pretty good shape.

[2016-10-25 00:02] ElectricPrism commented on #23
I'm going to take a break. I did start to convert my installation instructions into a PKGBUILD. It's working on my system currently, however I'm sure I'll have to revise it to figure out how to get the server part in /game/server to compile

[code]

copy PKGBUILD to ~/Builds/ges/

Compile .tar.xz for pacman to merge using pacman -U
makepkg -s

[2016-10-25 04:37] mdeguzis commented on #25
The formatting on that paste looks really odd, it would be much better to use a paste site. Anyway, not sure either how to install in contrast to how the Windows installer did. I'll look more into it later.

[2016-10-25 05:30] ElectricPrism commented on #23
Line 25 and 26 of CMakeLists.txt seems to set the compiler to target Intel Core 2 Duo with the  core2 flag on -march and -mtune

[code]

Shouldn't it be set to i686 because the binary built should be 32-bit?

[2016-10-25 05:48] 0xBADEAFFE commented on #23
No the -m32 flag sets the architecture. ;)

[2016-10-25 06:47] ElectricPrism commented on #23
Thanks, I've started to organize my efforts over here:
https://github.com/ElectricPrism/aur-ges

[2016-10-25 18:17] mdeguzis commented on #23
That should be noted in the readme. Also, building in a clean chroot will indicate you also need other libs for bzip2, expat, zlib, etc..

On October 24, 2016 6:56:29 AM EDT, Jonathan White notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-10-25 18:23] mdeguzis commented on #23
I never built a Source SDK release project, so pardon me. I use pbuilder as well. I'll adjust to build in a 32 bit chroot and add those libs. I assume you build with mock or local with rpmbuild. Thank you.

On October 24, 2016 6:56:29 AM EDT, Jonathan White notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-10-25 20:25] ElectricPrism commented on #25
It seems to look okay in Chrome and Sublime for me, I wonder why.

That's my understanding, yes -- I even copied WINE files to my linux steam directory and Steam picked up GE:S, I then merged the new files over the old files (I know it's hackerish) - I'm assuming some of the build files would be OS agnostic, objects, textures, sound, etc...

I have yet to build both the server and client, (the ser

[2016-10-25 20:34] ElectricPrism commented on #23
@ProfessorKaos64 - The readme technically needs work as it is as the git submodule init command is incomplete. I had to search for a similar version and came up with
`git submodule update --init --recursive`

I unfortunately am not a Level 60 compiler mage, and I've only ever built very few things (No Source SDK either.)

**_Could you link me or dump a list of dependencies you've found here?  Than

[2016-10-25 23:07] ElectricPrism commented on #25
I wanted to confirm - you were able to resolve some build errors when system python and system boost were not present?

System Boost & Python created conflicts?

[2016-10-26 00:00] mdeguzis commented on #25
Yes, per the above post, everything builds if you remove the conflicting libs from libboost-**all**-dev for Debian / SteamOS. It is very easy to setup a [clean chroot for Arch Linux](https://wiki.archlinux.org/index.php/DeveloperWiki:Building_in_a_Clean_Chroot). I would suggest that for the best results. Let's not get off topic for this thread though. For Debian, it appears including the python li

[2016-10-26 02:48] droidmonkey commented on #23
I'll work on attempting a compile on another platform and document my mage skillz. Thanks for keeping this alive, I honestly have not ported it to any other platforms besides Fedora.

[2016-10-26 12:09] droidmonkey commented on #25
This build is ONLY for SDK 2013.

[2016-10-26 12:16] mdeguzis commented on #25
Ah ok, thank you for confirming. I read in posts that 5.1 would be, but I did not know that develop here was already building. Is there a basic 1,2,3 post build for Linux folks? I understand the libs need to go to into the gesource directory, but the contents of which I don't know beyond what the Windows installer puts there on a test VM I used.

[2016-10-26 12:20] mdeguzis commented on #23
@ElectricPrism , I typically just use git clone --recursive <URL> <FOLDER>, but you should just follow the proper update/init routines with git, outlined in the [AUR guideline for VCS](https://wiki.archlinux.org/index.php/VCS_package_guidelines#Git_Submodules). I always follow that for my AUR packages. In my case on my OS, including those extra system libs then tries to link them later on. Follow

[2016-10-26 12:32] droidmonkey commented on #25
Unfortunately you need to tweak a few files in the actual resource directory in order to be successful on 2013. Namely the gameinfo.txt file.

[2016-10-26 12:41] mdeguzis commented on #25
I'll be patent then for instructions on how to do that. I don't mind doing documentation at all, but in a bit naive on this particular project with Linux. If you do offer any instructions, I'll be glad to test on a few distros for you (Arch/Debian/SteamOS at the least).

[2016-10-26 19:31] mdeguzis commented on #23
I'm going to keep working to see if I can build this with a vanilla clone of the repo vs. the fork / modifications ElectricPrism made and his fork of the repo. The undefined references, like my Debian/SteamOS build, is conflicting with system libs (at least it seems). I'll try adding options to ges_python.cmake to disable sqlite/zlib etc, as it seems those are having issues.
- [Arch Linux build lo

[2016-10-27 05:03] ElectricPrism commented on #23
@ProfessorKaos64 You probably would be better suited to make the AUR than me since It would be my first submission but I wanted to grow my skills in developing PKGBUILD's.

From building in the i686 chroot it seemed that the CMakeLists.txt for some reason wasn't recognizing where the Boost_ Include directory was? I think it might need to be manually declared somewhere before or near find_package()

[2016-10-27 13:05] mdeguzis commented on #23
You can't work around the linking issues it seems, like I did by just [not including extra packages](http://sprunge.us/YCaX) on Debian 8 / SteamOS. If you disable zlib,sqlite, or gdbm modules (forgive if the yare required, just testing around), you get this error and set of link flags:

[code]

Regardless of this test being wrong or right, that is one strange set of linker flags. So many duplicate

[2016-10-29 00:32] mdeguzis opened #26 "[Enhancement] Continuous integration testing with Travis CI / Docker"
I worked out how to run builds against 32-bit docker images run via Travis CI. This would be quite nice for CI testing among a few major distros. You can check out the starting files and CI builds below. Using the Travis CI build matrix, each distro job runs in parallel. Based on the distro env value, the linux build script adjusts accordingly (docker image, build script, deps, adjustments etc.).

[2016-10-31 19:00] mdeguzis commented on #25
@ElectricPrism, I setup automatic continuous integration testing (See: #26). The only build so far that fails in the list, is Ubuntu.  Otherwise, it appears builds function on Debian 8 32 bit and Fedora 24 32 bit.

Update: per the [docker image for ubuntu](https://hub.docker.com/r/32bit/ubuntu/) I am using, the container is not 32 bit, which explains that. I will work on generating one to test wit

[2016-10-31 20:06] ElectricPrism commented on #25
@ProfessorKaos64 - I've been watching your repositories and github threads, that's great.

Your work with Travis CI looks good (I'm new to Travis).

A. What kind of file tree is created when it builds correctly? Is it still just a few or is it the full 22,691

B. Is a 32-bit Arch even possible for Travis?

C. Would it be better to alter the PKGBUILD to simply import whatever .deb or .rpm once that

[2016-11-02 16:43] mdeguzis commented on #25
This is closed from my perspective until actual implementation instructions with the resulting server.so and client.so libs are posted or explained. I should note that while Debian Jessie / SteamOS builds, the Ubuntu build does not complete. See the travis builds in my fork for more.

@ElectricPrism I could always output the dir tree at the end of the build script, or just check once if you are cu

[2016-11-02 16:43] #25 closed

[2016-11-04 04:51] Spirrwell opened #27 "Potential Keyvalues Memory Leak"
Hi.

In c_baseanimating.cpp, there's a function called DelayedInitModelEffects() that's defined at line 1263. This is base class code and I'm not sure what your handling is for that kind of code, though it looks like you use #ifdef GE_DLL. This is nothing huge, but there's a potential KeyValues leak in that function if it ends up returning early in a couple places such as around line 1300.

It's n

[2016-11-04 11:08] droidmonkey commented on #27
Please link to the line in the code.

[2016-11-15 20:55] mdeguzis commented on #23
The 32 bit Arch Linux build via Travis CI / docker gets father now after the latest 20161101 commit. I noticed the CI build didn't die after 16 minutes :)

See: https://travis-ci.org/ProfessorKaos64/ges-code/jobs/176164141

[2017-02-17 18:45] illwieckz commented on #24
That's also making trouble for people running the game on wine: people get wine complaining about missing `WLDAP32.dll` until they install some `libldap` sofile, even if it's not needed at all (see [this thread](https://www.phoronix.com/forums/forum/software/linux-gaming/42329-hl2-based-goldeneye-source-gets-open-sourced?p=531782#post531782) as an example).

[2017-06-28 17:43] ChildishGiant opened #29 "Is it documented what characters do what colors when using ^ ?"
`^rR^oa^yi^gn^bb^po^rw`
Will produce this:
![image](https://user-images.githubusercontent.com/13716824/27651337-de504800-5c2f-11e7-8c47-9b402ffb2a86.png)

R for red
O for orange
etc...

Is it documented what does what?

[2017-06-28 19:00] ghost commented on #29
This is what you want: https://wiki.geshl2.com/hudcolor

:)

[2017-06-28 19:19] #29 closed

[2017-07-01 03:50] samrocketman commented on #26
@mdeguzis your links are out of date.  ref: https://github.com/mdeguzis/ges-code

[2017-07-02 16:45] mdeguzis commented on #26
Updated

[2017-07-02 17:17] samrocketman commented on #26
@mdeguzis links are still incorrect.  `develop` is the proper branch but the links reference`develop-master`.

[2017-07-20 12:39] Enverex commented on #23
Is there an option to tell the build to use the system version of Python rather than trying to use the bundled one? (where is where all the errors appear to come from at the end right now).

[2017-07-23 20:01] ElectricPrism commented on #23
@mdeguzis Do you have a link to your current build instructions, I'm curious to see if anything has changed and if it will get farther or not.

@Enverex I personally had to manually disable GES python, maybe @droidmonkey knows of a better way to enable/disable to use system python.

[2017-07-24 00:56] droidmonkey commented on #23
If you want to use system python then you need to replace the section in cmakelists.txt regarding python project with a simple find_library call.

[2017-08-05 00:55] ElectricPrism opened #30 "Out of date?"
Is the repo out of date? If so where can the current version be found?

[2017-11-19 01:47] lorendias commented on #26
I was just wondering what the status was on the compiler. Does it still fail?

[2017-12-25 17:19] #3 closed

[2017-12-25 17:19] #5 closed

[2017-12-25 17:19] #7 closed

[2017-12-25 17:19] #8 closed

[2017-12-25 17:19] #10 closed

[2019-07-14 21:43] thelastnoc opened #31 "Did anyone get it to work somehow?"
I'm just curious if someone got it to a point that it's playable. Hopefully it's not abandoned completely...
I'm currently running Manjaro 18 and was able to build the client, with some tweaks to the cmakelist.txt etc... (the Server reach 99%).

However the Game don't start because it can't load "start_loading.vtf" in the folder material/console. Something related to the gameinfo.txt that i can't

[2019-07-15 00:44] droidmonkey commented on #31
If anything was abandoned it was sdk2013 right after it was released. This build never worked correctly and is a distribution nightmare.

[2020-09-14 22:27] Vulto opened #32 "Missing Python Thirdparty."
The python thirdparty fail when execute git clone --recursive-submodules because the link is broken or the file was removed.

[2020-09-15 01:05] droidmonkey commented on #32
This repo is unmaintaned

[2020-09-15 01:05] #32 closed

[2020-09-29 03:00] #1 closed

[2022-03-29 18:14] pidario commented on #23
Sorry for necro-bumping this thread after all these years, but since it's still flagged as open I guess I'll take my shot.
Has anybody ever managed to build it?
This repo https://github.com/droidmonkey/python-cmake-buildsystem.git doesn't even exist anymore (possibly moved to https://github.com/python-cmake-buildsystem/python-cmake-buildsystem).
What path are you supposed to use for the cmake argu

[2022-03-29 18:27] droidmonkey commented on #23
This project hasn't been touched in 6 years or so. Recommend using vcpkg now adays as that is the modern way to handle dependencies.

[2022-03-29 19:06] pidario commented on #23
As I said, I'm not an expert but it doesn't look like a dependency issue. Anyway, thanks for the tip, I'll try.